<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700'
          rel='stylesheet'>

    <!-- Css -->

    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/sliders.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/CampitShopLogo.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %} ">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>

<main class="content-wrapper oh">
    <div class="top-bar hidden-sm hidden-xs">
        <div class="container">
            <div class="top-bar-line">
                <div class="row">
                    <div class="top-bar-links">
                        <ul class="col-sm-6 top-bar-acc">
                            {% if request.user.is_authenticated %}
                            <li ><a href="#">{{request.user.username}}</a> | <a href="{% url 'logout' %}">Выйти</a></li>
                            {% else %}
                            <li class="top-bar-link"><a href="#">Мой аккаунт</a></li>
                            {% endif %}

                            <lisi class="top-bar-link"><a href="#">Cписок желаний</a></lisi>
                            <!--                            <li class="top-bar-link"><a href="#">Рассылка</a></li>-->
                            {% if request.user.is_anonymous %}
                            <li class="top-bar-link"><a href="{% url 'auth' %}">Авторизоваться</a></li>
                            {% endif %}
                            <li class="top-bar-link"><a href="#">Контакты</a></li>
                        </ul>

                        <ul class="col-sm-6 text-right top-bar-currency-language">
                            <!--                            <li class="language">-->
                            <!--                                Language: <a href="#">ENG<i class="fa fa-angle-down"></i></a>-->
                            <!--                                <div class="language-dropdown">-->
                            <!--                                    <ul>-->
                            <!--                                        <li><a href="#">English</a></li>-->
                            <!--                                        <li><a href="#">Spanish</a></li>-->
                            <!--                                        <li><a href="#">German</a></li>-->
                            <!--                                        <li><a href="#">Chinese</a></li>-->
                            <!--                                    </ul>-->
                            <!--                                </div>-->
                            <!--                            </li>-->
                            <li>
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-static-top">
        <div>
            <div class="container relative">

                <div class="row">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Mobile cart -->
                        <div class="nav-cart mobile-cart hidden-lg hidden-md">
                            <div class="nav-cart-outer">
                                <div class="nav-cart-inner">
                                    <a href="#" class="nav-cart-icon">2</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end navbar-header -->

                    <div class="header-wrap">
                        <div class="header-wrap-holder">


                            <div class="nav-search hidden-sm hidden-xs">
                                <form method="get" action="{% url 'candy_search' %}">
                                    {% csrf_token %}
                                    <input type="search" class="form-control" placeholder="Найти"
                                           name="candy_search">
                                    <button type="submit" class="search-button">
                                        <i class="icon icon_search"></i>
                                    </button>
                                </form>
                            </div>

                            <!-- Logo -->
                            <div class="logo-container">
                                <div class="logo-wrap text-center">
                                    <img src="{% static 'img/image.png' %}" alt="logo">
                                </div>
                            </div>

                            <!-- Cart -->
                            <div class="nav-cart-wrap hidden-sm hidden-xs">
                                <div class="nav-cart right">
                                    <div class="nav-cart-outer">
                                        <div class="nav-cart-inner">
                                            <a href="#" class="nav-cart-icon">2</a>
                                        </div>
                                    </div>
                                    <div class="nav-cart-container">
                                        <div class="nav-cart-items">

                                            <div class="nav-cart-item clearfix">
                                                <div class="nav-cart-img">
                                                    <a href="#">
                                                        <img src="img/shop/cart_small_1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="nav-cart-title">
                                                    <a href="#">
                                                        Ladies Bag
                                                    </a>
                                                    <div class="nav-cart-price">
                                                        <span>1 x</span>
                                                        <span>1250.00</span>
                                                    </div>
                                                </div>
                                                <div class="nav-cart-remove">
                                                    <a href="#"><i class="icon icon_close"></i></a>
                                                </div>
                                            </div>

                                            <div class="nav-cart-item clearfix">
                                                <div class="nav-cart-img">
                                                    <a href="#">
                                                        <img src="img/shop/cart_small_2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="nav-cart-title">
                                                    <a href="#">
                                                        Sequin Suit longer title
                                                    </a>
                                                    <div class="nav-cart-price">
                                                        <span>1 x</span>
                                                        <span>1250.00</span>
                                                    </div>
                                                </div>
                                                <div class="nav-cart-remove">
                                                    <a href="#"><i class="icon icon_close"></i></a>
                                                </div>
                                            </div>

                                        </div> <!-- end cart items -->

                                        <div class="nav-cart-summary">
                                            <span>Общая сумма</span>
                                            <span class="total-price">$1799.00</span>
                                        </div>

                                        <div class="nav-cart-actions mt-20">
                                            <a href="shop-cart.html"
                                               class="btn btn-md btn-dark"><span>Перейти в корзину</span></a>
                                            <a href="shop-checkout.html" class="btn btn-md btn-color mt-10"><span>Оплатить</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-cart-amount right">
                      <span>
                        Корзина
                      </span>
                                </div>
                            </div> <!-- end cart -->

                        </div>
                    </div> <!-- end header wrap -->

                    <div class="nav-wrap" style="display:flex;justify-content:center;">
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li id="mobile-search" class="hidden-lg hidden-md">
                                    <form method="get" class="mobile-search relative" action="{% url 'candy_search' %}">
                                        {% csrf_token %}
                                        <input type="search" class="form-control" placeholder="Найти"
                                               name="candy_search">
                                        <button type="submit" class="search-button">
                                            <i class="icon icon_search"></i>
                                        </button>
                                    </form>
                                </li>

                                <li class="dropdown">
                                    <a href="{% url 'home' %}">Главная страница</a>
                                </li>

                                <li class="dropdown">
                                    <a href="#">Деятельность</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="contact.html">Контакты</a></li>
                                        {% if request.user.is_anonymous %}
                                        <li><a href="{% url 'auth' %}">Авторизоваться</a></li>
                                        {% endif %}
                                        <li><a href="faq.html">F.A.Q</a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu megamenu">
                                        <li>
                                            <div class="megamenu-wrap">
                                                <div class="row">

                                                    <div class="col-md-3 megamenu-item">
                                                        <h6>For Man</h6>
                                                        <ul class="menu-list">
                                                            <li><a href="#">!Shirts</a></li>
                                                            <li><a href="#">Jeans</a></li>
                                                            <li><a href="#">Accessories</a></li>
                                                            <li><a href="#">Shoes</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-3 megamenu-item">
                                                        <h6>For Woman</h6>
                                                        <ul class="menu-list">
                                                            <li><a href="#">Dresses</a></li>
                                                            <li><a href="#">Coats</a></li>
                                                            <li><a href="#">Accessories</a></li>
                                                            <li><a href="#">Sandals</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-3 megamenu-item">
                                                        <h6>Accessories</h6>
                                                        <ul class="menu-list">
                                                            <li><a href="#">Wallets</a></li>
                                                            <li><a href="#">Watches</a></li>
                                                            <li><a href="#">Belts</a></li>
                                                            <li><a href="#">Scarfs</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-3 megamenu-item">
                                                        <h6>Bags</h6>
                                                        <ul class="menu-list">
                                                            <li><a href="#">Leather</a></li>
                                                            <li><a href="#">Sports</a></li>
                                                            <li><a href="#">Street Style</a></li>
                                                            <li><a href="#">Creative</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li> <!-- end categories -->

                                <li class="dropdown">
                                    <a href="#">Blog</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-standard.html">Standard</a></li>
                                        <li><a href="blog-single.html">Single Post</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#">Shop</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop-catalog.html">Catalog</a></li>
                                        <li><a href="shop-collections.html">Collections</a></li>
                                        <li><a href="shop-single-product.html">Single Product</a></li>
                                        <li><a href="shop-cart.html">Cart</a></li>
                                        <li><a href="shop-checkout.html">Checkout</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#">Elements</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                    </ul>
                                </li>

                                <li class="mobile-links">
                                    <ul>
                                        <li>
                                            <a href="{% url 'auth' %}">Авторизоваться</a>
                                        </li>
                                        {% if request.user.is_authenticated %}
                                        <li>
                                            <a href="#">{{request.user}}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}">Выйти</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="#">Мой аккаунт</a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </li>

                            </ul> <!-- end menu -->
                        </div> <!-- end collapse -->
                    </div> <!-- end col -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </div> <!-- end navigation -->
    </nav> <!-- end navbar -->
    </header> <!-- end navigation -->


    {% block content %}
    {% endblock content %}
    <footer class="footer footer-type-1 bg-white">
        <div class="container">
            <div class="footer-widgets top-bottom-dividers pb-mdm-20">
                <div class="row">

                    <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
                        <div class="widget footer-links">
                            <h5 class="widget-title uppercase">Бизнес</h5>
                            <ul class="list-no-dividers">
                                <li><a href="#">Наши магазины</a></li>
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Бизнес с нами</a></li>
                                <li><a href="#">Информация о доставке</a></li>
                                <li><a href="#">Правила и условия</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
                        <div class="widget footer-links">
                            <h5 class="widget-title uppercase">Помощь</h5>
                            <ul class="list-no-dividers">
                                <li><a href="#">Связаться с нами</a></li>
                                <li><a href="#">Отслеживание заказа</a></li>
                                <li><a href="#">F.A.Q</a></li>
                                <li><a href="#">Политика конфиденциальности</a></li>
                                <li><a href="#">Возвраты</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
                        <div class="widget footer-links">
                            <h5 class="widget-title uppercase">Аккаунт</h5>
                            <ul class="list-no-dividers">
                                <li><a href="#">Мой аккаунт</a></li>
                                <li><a href="#">Мой список желаний</a></li>
                                <li><a href="#">История заказов</a></li>
                                <li><a href="#">Подарки</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h5 class="widget-title uppercase">О нас</h5>
                            <p class="mb-0"> is a very slick and clean e-commerce template with endless
                                possibilities. Creating an awesome clothes store with this Theme is easy than you can
                                imagine.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget footer-get-in-touch">
                            <h5 class="widget-title uppercase">Контакты</h5>
                            <address class="footer-address"><span>Адрес:</span> Казахстан, Нур-Султан
                            </address>
                            <p>Номер телефона: <a href="tel:+1-888-1554-456-123">8 777 334 83 07</a></p>
                            <p>Почта: <a href="mailto:themesupport@gmail.com">mr.mukatai@gmail.com</a></p>
                            <div class="social-icons rounded mt-20">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                    </div> <!-- end stay in touch -->

                </div>
            </div>
        </div> <!-- end container -->

        <div class="bottom-footer bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 copyright sm-text-center">
              <span>
                &copy; 2022 CampitShop, Made by <a href="http://deothemes.com">Mukatay  Ilyas</a>
              </span>
                    </div>

                    <div class="col-sm-4 text-center">
                        <div id="back-to-top">
                            <a href="#top">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12 footer-payment-systems text-right sm-text-center mt-sml-10">
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-amex"></i>
                    </div>
                </div>
            </div>
        </div> <!-- end bottom footer -->
    </footer> <!-- end footer -->
</main>
<!-- jQuery Scripts -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
