{% extends 'base.html' %}
{% block content %}
<!-- Page Title -->
<section class="page-title text-center">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="uppercase">Мой аккаунт</h1>
            </div>
        </div>
    </div>
</section> <!-- end page title -->

<!-- login -->
<section class="section-wrap login-register pt-0 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 mb-40">
                <div class="login">
                    <h4 class="uppercase">Авторизоваться</h4>

                    <form method="post">
                        {% csrf_token %}
                        {{login_form}}
                                  <button class="btn" type='submit' name='submit' value='sign_in'>Войти</button>
                    </form>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="register">
                    <h4 class="uppercase">Регистрация</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn" type='submit' name='submit' value='sign_up'>Зарегистрироваться</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end login -->

{% endblock content %}